*{
    font-family: Arial, Helvetica;
}
.banner{
    background-color: #063b7a;
}
.banner p{
    color: #778aa3;
}
.content h2{
    border-bottom: 1px solid #e2e2e2;
}
div.address span {
    border-bottom:1px dotted #778aa3 ;
}
footer p{
    font-weight: 600;
}

input[type="text"]{
    outline: none;
    width: 100%;
}

#hinh{
    background-color: yellow;
    /* width: 250px;
    height: 350px;
    border-radius: 12px; */
}
#feedback-error:not(.active){
    display: none;
}

.chart{
    width: 70px;
    background-color: yellow;
    float: left;
    margin-right: 12px;
    text-align: center;
    padding-top: 10px;
    border-radius: 12px;
}